<div class="row">
  <div class="col text-right">
    <button routerLink="/artist/new" class="btn btn-primary ml-2 mb-2">
      <i class="fa fa-plus">
        Add new Artist
      </i>
    </button>
  </div>
</div>

<div class="card-columns animated fadeIn faster">
  <div *ngFor="let artist of artistsList; let i = index" class="card">
    <img [src]="artist.photoUrl" class="card-img-top" [alt]="artist.title">
    <div class="card-body">
      <h5 class="card-title text-center">{{ artist.name }}</h5>
      <button class="btn btn-info mr-1"
              [routerLink]="['/artist', artist._id]">
        <i class="fa fa-pen"></i>
      </button>
      <button class="btn btn-danger"
              (click)="deleteArtist( artist , i)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="!loading && artistsList.length === 0" 
  class="alert alert-warning text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">There is no data</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>

<div *ngIf="loading"
     class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Loading</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Wait please
  </p>
</div>